<nav class="navigation">
    <a class="nav" href="/register">register</a>
</nav>
<div id="login">
<h1>+_<br>please<br>log<br>in<br>+</h1>
<form method="post">
<input type="text" name="email" placeholder="email address" required></input>
<input type="password" name="password" placeholder="password" required></input>
<input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
<button id ="login-btn" type="submit">begin</button>
</form>
</div>
