<h1>Please log in</h1>
<form method="POST" action="/petition">
<input type="text" name="email" placeholder="email address"></input>
<input type="password" name="password" placeholder="password"></input>
<button id ="login-btn" type="submit">LOG IN</button>
</form>
