<nav class="navigation">
    <a class="nav" href="/petition/logout">logout</a>
    <a class="nav" href="/profile/edit">edit profile</a>
</nav>
<div id="petition">
        <h1 class="title">_<br>your<br>signature<br>below</h1>
        <form method="post" action="/petition">
            <input type="hidden" name="signature" value=""></input>
            <div class = "message {{#if message}} on {{/if}}">
                <h4>you forgot to sign</h4>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
            <canvas id="canvas" width="300" height="100" ></canvas>
            <button id ="sign-btn" type="submit">sign</button>
        </form>
</div>
